@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@theme {
  --color-portfolio: #172754;
}
body {
  @apply bg-stone-100;
}

html,
body {
  margin: 0;
  height: 100%;
}
